<!DOCTYPE html>
<html>
  <head>
    <title>Summongrid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "common" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'hello_vue' %>

    <%= yield :head %>    
  </head>

  <body>
    <div class='container-fluid'>
        <%= render 'layouts/messages' %>
    </div>

        <%= yield %>
    <%= yield :very_end %>
  </body>
</html>
