<!DOCTYPE html>
<html>
  <head>
    <title>Summongrid</title>

    <script>
      var firebase_config = {
        apiKey: "<%= Rails.application.credentials.firebase_js[:apiKey] %>",
        authDomain: "<%= Rails.application.credentials.firebase_js[:authDomain] %>",
        databaseURL: "<%= Rails.application.credentials.firebase_js[:databaseURL]%>",
        projectId: "<%= Rails.application.credentials.firebase_js[:projectId]%>",
        storageBucket: "<%= Rails.application.credentials.firebase_js[:storageBucket]%>",
        messagingSenderId: "<%= Rails.application.credentials.firebase_js[:messagingSenderId]%>"
      };
      
      var firebase_channel = '<%= Artillery.channel_for_test(@event,"player") %>';


    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "common" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'hello_vue' %>

    <%= yield :head %>    
  </head>

  <body>
    <div class='container-fluid'>
        <%= render 'layouts/messages' %>
    </div>

        <%= yield %>
    <%= yield :very_end %>
  </body>
</html>
